Scoping the definition of suites

Let's explicitly enumerate the groups of interest for instantiating suites.
Please also consider the following points:
   1) Which are the groups of interest?
   2) Should we cover curves standardized by agencies different than NIST and IETF? 
   3) What is the criteria for not to include a specific curve?
   4) Should we provide a way to generate extensible suites for addressing curves not considered in the doc?

Answering these questions will help us to have a clearer path for finishing the last part of the document.

The list of curves I have written down are:

- FIPS 186-4 curves: p256, p384, p521. Not p192 or p224, though: they're not used much, and we shouldn't encourage them to be.
- RFC 7748: Curve25519, Curve448
- RFC 8032: Ed25519, Ed448
- Bitcoin et al: SECP256K1
- Pairing-friendly curves: BLS12-381 for sure, since BLS signatures is going to use it. The [pairing-friendly curve draft](https://github.com/pairingwg/pfc_standard/) also mentions BN256 (100-bit security), BN462, and BLS48-581. Probably we should coordinate with them and make sure to cover the curves they standardize.
- SIKEP503 - currently in poc code. What about [other post-quantum candidate curves](https://github.com/microsoft/PQCrypto-SIDH)?
- SS132 - a supersingular curve apparently from RFC5091

Here is a larger list of curve (https://eprint.iacr.org/2015/1060.pdf)

The point for discussion that I want to raise is not whether we must encourage or not the use of CurveX instead of CurveY. 

My point is that covering exhaustively all cases could not be possible since there are many curves and there will be more curves in the future. So, I think the document must provide a general guideline for an implementer using the brand-new CurveXYZ be able to instantiate a suite not deviating from the framework and algorithms we are proposing. And for the most popular curves (it could be the curves used for TLS) provide enumerated suites.




Sorry, I think I was unclear.

I completely agreed that we can't cover all curves exhaustively, and that we should give people enough information to make good choices for curves that aren't covered.

But we can do this while also choosing suites that accomplish other useful goals. In particular, here's what I'd like to see:

1. Every suite entry should have a corresponding "straight-line implementation" in the appendix of the document that uses every optimization we know.

2. Because of (1), the suites should be chosen to cover curves that are standardized and in widespread use. It's good for the community if we spend the time thinking carefully about efficient implementations for widely-used curves and document the results. This is the reason I suggested the FIPS curves, '25519 and '448, and SECP256K1, and it's also also why I included the pairing-friendly curves: those curves and related applications are in the process of being standardized. TLS is a great suggestion, @armfazh; do you have specific suggestions other than the ones I listed above?

3. Beyond the curves in (2), I think we should make sure that the defined suites include at least one curve for each map in the document. For this purpose it's OK to relax the "widespread use" requirement. The reason for this is, even if implementors don't use exactly the curve we give as an example, having a careful implementation of the map available, even for a different curve, will be helpful to implementors. This is why I included SIKE-P503 and SS-132: these are examples of "Elligator A=0" and "Boneh-Franklin," respectively.

> The point for discussion that I want to raise is not whether we must encourage or not the use of CurveX instead of CurveY.

Ah, but here's the thing: including any curve in the document *is* tacitly endorsing that curve for use, whether we want it to be or not. Because of this, we should be careful about which curves we suggest---hence my suggestion to leave out p192 and p224.

Also, related to using curves that aren't covered: as I said in #124, if we require including the hash-to-curve ciphersuite identifier for domain separation, we have to be *extra* careful to allow a path forward for curves we didn't cover. This is quickly becoming my biggest concern with the ciphersuite/domain separation issue.

Per @chris-wood's [comment](https://github.com/cfrg/draft-irtf-cfrg-hash-to-curve/pull/121#discussion_r290771878), we should decide whether or not to add non-RO suites. (Probably yes...)

Looks like we've got a good handle on suites at this point, so I'm closing this issue.

If anyone wants to add a new curve to suites, they can open a separate issue or PR.